# Compiler files
cache/
out/

# Ignores development (and goerli) broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/5/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Node modules
node_modules/
artifacts/
cache_hardhat/
typechain-types/

.vscode
.PROJECT_ARTICLE.md
./PROJECT_ARTICLE.md

PROJECT_ARTICLE.md

./New-Confidential-Rebalancing-on-Uniswap-v4-The-First-FHE-Powered-Solution-for-Institutional-DeFi.pptx
New-Confidential-Rebalancing-on-Uniswap-v4-The-First-FHE-Powered-Solution-for-Institutional-DeFi.pptx
./readme
readme
./readme/
readme/
./readme/BUSINESS_PLAN.md
readme/BUSINESS_PLAN.md
./readme/core.md
readme/core.md
./readme/PROBLEM_STATEMENT.md
readme/PROBLEM_STATEMENT.md
./readme/ConfidentialRebalancingHook_Presentation.md
readme/ConfidentialRebalancingHook_Presentation.md
./readme/frontend.md
readme/frontend.md
run-script-server.js
./run-script-server.js